$backOverlay:rgba(0, 0, 0, 0.5);
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
$popupBackground: #fff;
$popupBorder: blue;
$popupBorderRadius: 15px;
$buttonsBackground: red;